<!DOCTYPE html>
 
 <html>

 <head>
   <meta charset="utf-8">

</head>
<body>
<div class="user-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new container">
        <h1 class="text-center text-white">Log in</h1>
        <%= form_for :sessions, url:login_path do |f| %>
          <div class="form-group">
            <%= f.label :email, class: 'text-white' %>
            <%= f.password_field :email. class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :password, class: 'text-white' %>
            <%= f.password_field :password, class: 'form_control'%>
          </div>

          <%= f.submit "ログイン", class: 'btn-block btn-white' %>
        <% end %>
      </div>
    </div>
  </div>
</div>




</body>
</html>
